/* 화면을 쉽게 꾸밀 수 있도록 getbootstrap.com 활용 */

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 페이지에 대해, 글자체 적용 및  */
body {
    font-family: 'ELAND_Choice_M';
    word-break: keep-all;
}

/* 화면별 버튼 세로 배열 */
article {
    /* article 태그 만큼으로 가득차게 버튼이 만들어지도록 */
    display: flex;
    flex-direction: column;
}

#test-name {
    color: #75D701;
}

#opening-text {
    color: #C4C4C4;
}

#opening-family-img {
    margin: 0 auto; /* 가운데 배치 */
}

#start-btn {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#logo-img {
    width: 129px;
    height: 41px;
    margin: 0 auto; /* 가운데 배치 */
}

/* 프로그레스 바에 대한 설정 */
.progress-bar {
    background-color:#75D701;
    /* opacity: 0.75; */
}

/* 질문에 대한 설정 */
/* 문제와 선택지가 들어가는 article tag 에서의 class */
.question {
    display: none;
}

/* 문제에 대한 설정 */
#title{
    font-weight: bolder;
}

/* 버튼에 대한 설정 */
.btn {
    background-color:#75D701;
    color: white;
    height: 80px;
    transition: background 0.8s;
}

.btn:hover, .btn:active {
    background:#75D701;
    color:white;
}

.btn-answer {
    font-size: 20px;
}

/* 문제 진행 상황 보이도록 */
.progress-number {
    margin-left:auto;    
    color: #C4C4C4;
    font-size: px;
    /* float: left; */
    flex: 1;
}

/* 결과창에 대한 설정 */
.result {
    display: none;
}

#shleyz-type {
    color: #75D701;
    font-weight: bolder;
}

#mbti-type{
    color: #C4C4C4;
}

/* 결과창에 들어가는 유형별 이미지 */
#result-img {
    width: 250px;
    height: 250px;
    margin: 0 auto; /* 가운데 배치 */
}

#skill-img {
    width: 200px;
    height: 125px;
    margin: 0 auto; /* 가운데 배치 */
}

#mbti-explain{
    margin: 0 auto;
    font-size: 18px;
    /* color:  #4c4c4c; */
}

.recommendation {
    margin: 0 auto;
}

.card {
    float: right;
    /* box-shadow: 2.5px 2.5px  #c4C4C4; */
}

.title {
    font-size: 17.5px;
}

.mate-mbti {
    color: #c4C4C4;
}

#good-mate-img {
    width: 175px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 10px; /* 가운데 배치 */
}

#bad-mate-img {
    width: 175px;
    height: 175px;
    margin: 0 auto; /* 가운데 배치 */
    margin-bottom: 10px;
}

/* 화면 하단의 공유하기 버튼 */
.share {
    margin: 0 auto;
}

/* 광고용 배너 및 이미지 설정 */
.add-banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.add-banner-img {
    width: 300px;
}