/* 화면을 쉽게 꾸밀 수 있도록 getbootstrap.com 활용 */

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #3e4149;
}

/* 화면별 버튼 세로 배열 */
article {
    /* article 태그 만큼으로 가득차게 버튼이 만들어지도록 */
    display: flex;
    flex-direction: column;
}

.progress-bar {
    background-color:#fc9d9a;
}

.question {
    display: none;
}

.btn {
    background-color: #fec8c9;
}

.btn-start, .btn-start:visited, .btn-start:hover, .btn-start:active {
    background-color:#fec8c9;
}
.btn-start:active, .btn-start:focus {
    background-color:#fd999a !important;
}

/* 문제 화면 */
.btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:active, .btn-answer:focus {
    background-color:#fec8c9;
}

.btn-answer:hover {
    background-color: #fd999a !important;
}

.result {
    display: none;
}

#result-img {
    width: 300px;
    height: 300px;
    margin: 0 auto; /* 가운데 배치 */
}

/* 공유하기 버튼 */
.share {
    margin: 0 auto;
}

/* 광고용 배너 및 이미지 설정 */
.add-banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.add-banner-img {
    width: 300px;
}